body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#input-submit {
  width: 100px;
  padding: 5px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form-inputs {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 2px 0 black;
}
