body {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container-filters {
  padding: 10px 0;
}

.filter-inputs {
  width: 70px;
  background-color: blue;
  color: white;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 3px 0 blue;
  border-radius: 100px;
  padding: 3px;
}

#main {
  display: flex;
  justify-content: center;
}

.container-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  background-color: #040b6a;
  color: white;
  border: 1px solid;
  border-radius: 10px;
}

.card-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
